<%= content_for :javascript_assets do %>
    <%= javascript_include_tag 'driversController' %>
<% end %>

<div ng-controller="StoreController as store" style="margin: 0 auto; width: 500px">
  <div ng-repeat="product in store.products | orderBy:'-price'">
      <div ng-hide="product.soldOut">
          <h1> {{product.name}} </h1>
          <h2> {{product.price | currency}} </h2>
          <p> {{product.description}} </p>
        <div class="gallery" ng-controller="GalleryController as gallery" ng-show="product.images">
          <p>
              <div>
                <img ng-src="{{product.images[gallery.current]}}"/>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-class="{active:gallery.isSelected(0)}" ng-click="gallery.setCurrent(0)">1</button>
                <button type="button" class="btn btn-default" ng-class="{active:gallery.isSelected(1)}" ng-click="gallery.setCurrent(1)">2</button>
                <button type="button" class="btn btn-default" ng-class="{active:gallery.isSelected(2)}" ng-click="gallery.setCurrent(2)">3</button>
              </div>
          </p>
          <!--<ul>
            <li ng-repeat="image in product.images | limitTo:3" style="list-style: none;">
              <img ng-src="{{image}}"/>
            </li>
          </ul>-->
        </div>
      </div>
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Description</a></li>
          <li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
          <li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b>
            {{review.body}}
            <cite>by: {{review.author}}</cite>
          </blockquote>

          <%#= form_tag '', name: 'reviewForm', :'ng-controller' => 'ReviewController as reviewCtrl', :'ng-submit' => 'reviewCtrl.addReview(product)', role: 'form', novalidate: '' %>
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)" role="form" novalidate>
            <blockquote>
              <b>Stars: {{reviewCtrl.review.stars}}</b>
              {{reviewCtrl.review.body}}
              <cite>by: {{reviewCtrl.review.author}}</cite>
            </blockquote>

            <div class="form-group">
              <%#= select :stars, :number, [['1 star', 1], ['2 star', 2], ['3 star', 3], ['4 star', 4], ['5 star', 5]], { prompt: 'Rate the product' }, {:'ng-model' => 'reviewCtrl.review.stars', class: 'form-control', required: true} %>
              <select ng-model="reviewCtrl.review.stars" class="form-control" required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
              </select>
            </div>
            <div class="form-group">
              <%#= text_area_tag :text, '', {:'ng-model' => 'reviewCtrl.review.body', class: 'form-control', required: true} %>
              <textarea name="body" ng-model="reviewCtrl.review.body" class="form-control" required></textarea>
            </div>
            <div class="form-group">
              <%#= label_tag 'by:' %>
              <%#= text_field_tag :email, '', type: :email, :'ng-model' => 'reviewCtrl.review.author', class: 'form-control', required: true %>
              <label>by:</label>
              <input name="author" ng-model="reviewCtrl.review.author" type="email" class="form-control" required/>
            </div>
            <div> reviewForm is {{reviewForm.$valid}} </div>
            <div><%= submit_tag 'Submit' %></div>
          </form>
        </div>
      </section>
  </div>
</div>
